# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# OSX
.DS_Store

# Transient directories and files

*.txt

## grafana
*/grafana/alerting/
*/grafana/csv
*/grafana/file-collections
*/grafana/plugins
*/grafana/png
*/grafana/data
grafana.db

## influxdb
*/influxdb2/engine/
influxd.bolt
influxd.sqlite

## loki
*/loki/tmp/

## elasticsearch
*/elasticsearch/data/

## ldap
ldap/
slapd.d/

## promtail
*/promtail/tmp/

# virtualenv
venv/